<mat-card class="valuation-card">
    <mat-card-header class="card-title">
      <mat-card-title >Coefficients</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-grid-container">
        <div class="field-descriptor">Dividend</div> <div class="field-value">{{ dividend }}</div>
      <mat-divider></mat-divider><mat-divider></mat-divider>
      <div class="field-descriptor">Earnings</div> <div class="field-value">{{ earnings }}</div>
      <mat-divider></mat-divider><mat-divider></mat-divider>
      <div class="field-descriptor">Treasury</div> <div class="field-value">{{ treasury }}</div>
      <mat-divider></mat-divider><mat-divider></mat-divider>
      <div class="field-descriptor">Intercept</div> <div class="field-value">{{ intercept }}</div>
    </mat-card-content>
  </mat-card>
