<div style="text-align: center;">
  <mat-toolbar>
    <span>Market Analyzer</span>
  </mat-toolbar>
  <div class="grid-container">
    <app-stock-valuation class="card" [dividend]="valuationData.stock_valuation.dividend"
                  [currentPrice]="valuationData.market_quote.close"
                  [peRatio]="valuationData.market_data.pe_ratio"
                  [dividendYield]="valuationData.market_data.div_yield"
                  [treasuryYield]="valuationData.market_data.treasury_yield"
    />
    <app-coefficients class="card"
                  [dividend]="valuationData.equation_coefficients.dividend_coef"
                  [earnings]="valuationData.equation_coefficients.earnings_coef"
                  [treasury]="valuationData.equation_coefficients.treasury_coef"
                  [intercept]="valuationData.equation_coefficients.intercept"
    />
    <app-earnings class="card" 
                  [title]="valuationData.stock_valuation.current_earnings.earnings_type"
                  [earnings]="valuationData.stock_valuation.current_earnings.earnings"
                  [price]="valuationData.stock_valuation.current_earnings.calculated_price"
                  [valuation]="valuationData.stock_valuation.current_earnings.valuation"
    />
    <app-earnings class="card"
                  [title]="valuationData.stock_valuation.future_earnings.earnings_type"
                  [earnings]="valuationData.stock_valuation.future_earnings.earnings"
                  [price]="valuationData.stock_valuation.future_earnings.calculated_price"
                  [valuation]="valuationData.stock_valuation.future_earnings.valuation"
    />
    <app-earnings class="card" [title]="valuationData.stock_valuation.max_earnings.earnings_type"
                  [earnings]="valuationData.stock_valuation.max_earnings.earnings"
                  [price]="valuationData.stock_valuation.max_earnings.calculated_price"
                  [valuation]="valuationData.stock_valuation.max_earnings.valuation"
    />
    <app-earnings class="card" [title]="valuationData.stock_valuation.blended_earnings.earnings_type"
                  [earnings]="valuationData.stock_valuation.blended_earnings.earnings"
                  [price]="valuationData.stock_valuation.blended_earnings.calculated_price"
                  [valuation]="valuationData.stock_valuation.blended_earnings.valuation"
    />
  </div>
  <table mat-table [dataSource]="getTableData()" class="mat-elevation-z20">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fairvalue">
      <th mat-header-cell *matHeaderCellDef> Fair Value </th>
      <td mat-cell *matCellDef="let element"> {{element.fairvalue}} </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>
</div>
