<mat-card class="valuation-card mat-elevation-z20">
    <mat-card-header class="card-title">
      <mat-card-title >{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-grid-container">
        <div class="field-descriptor">Earnings</div> <div class="field-value">{{ earnings }}</div>
      <mat-divider></mat-divider><mat-divider></mat-divider>
      <div class="field-descriptor">Calculated Price</div> <div class="field-value">{{ price }}</div>
      <mat-divider></mat-divider><mat-divider></mat-divider>
      <div class="field-descriptor">Valuation</div> <div class="field-value" [ngStyle]="{'color':getValuationColor()}">{{valuation}}</div>
      <mat-divider></mat-divider><mat-divider></mat-divider>
      <div class="field-descriptor">Valuation Pct</div> <div class="field-value" [ngStyle]="{'color':getValuationColor()}">{{ getValuationPercent() }}%</div>
    </mat-card-content>
  </mat-card>
